.Template {
  background-color: black;
}

.Sub-Image {
  background-color: white;
}

.Author {
  margin-top: -40px;
}

.Date {
  margin-top: -10px;
  padding-left: 55px;
  font-size: 12px;
}

.Author-Text {
  font-size: 16px;
  font-weight: bold;
}

.Author-Image {
  height: 45px !important;
  width: 45px !important;
}

.Body-Text {
  padding: 25px 25px 200px 25px;
}

.Title-Text {
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 45px;
}

.First-Character {
  float: left;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

.Title-Image {
  max-height: 500px;
  min-height: 200px;
}

.Inline-Image {
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
}
