.Template {
  background-color: black;
}

.Date {
  margin-top: -10px;
  padding-left: 60px;
  font-size: 12px;
}

.Author-Text {
  padding-left: 5px;
  font-size: 16px;
  font-weight: bold;
}

.Author-Image {
  height: 45px !important;
  width: 45px !important;
}

.Body-Text {
  font-size: 20px;
  padding: 25px 0px 200px 0px;
}

@media (max-width: 623px) {
  .Body-Text {
    font-size: 16px;
  }
}

.First-Character {
  float: left;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

.Sub-Image {
  background-color: white;
}

.Title-Text {
  padding-top: 25px;
  font-size: 45px;
}
